/* Calendar */
.calendar {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.calendar-header div {
  padding: 5px 0;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}

button {
  background-color: white;
  border: 1px solid #ccc;
  text-align: center;
  padding: 0; /* Remove padding */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  height: 35px; /* Set height to 25px */
  width: 35px; /* Set width to 25px */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

button:hover {
  background-color: #f1f1f1;
}

button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
